:host {
  display: inline-flex;
}

.name-plate {
  flex: 1;
  margin: 0.33rem;
  width: 6.125rem;
  padding: 0.33rem;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
