:host {
  display: inline-flex;
}

.name-plate {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  height: 4.5rem;
  justify-content: center;
  margin: 0.33rem;
  overflow: hidden;
  padding: 0.33rem;
  width: 6.125rem;
}

.name-content {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-clamp: 2;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  word-break: break-word;
}
