:host {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.total-score-row {
  display: grid;
  grid-template-columns: var(--row-label-width, 5rem);
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: var(--gap);
  align-items: center;
}

.total-label {
  grid-column: 1;
  font-weight: bold;
  padding-left: 6px;
}

.player-total {
  display: flex;
  justify-content: center;
}

.player-score {
  font-size: 1.25rem;
  font-weight: bold;
}

@media (max-width: 480px) {
  .total-score-row {
    grid-template-columns: var(--row-label-width, 4rem);
  }
}
