.active-game {
  padding: 1rem;
}

.active-game h1 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

.players-container {
  display: flex;
  flex-direction: row;
}

.players-container app-name-plate {
  flex: 1;
}
